[run]
parallel = True
source = servermon
omit =
	servermon/hwdoc/vendor/bmc_ilo3.py
	servermon/hwdoc/vendor/ticket_jira.py
	servermon/apt2xml.py
	servermon/hwdoc/management/commands/hwdoc_import_racktables.py
