{% load i18n %}
{% load url from future %}
<!DOCTYPE html>

<html>
<head>
  <title>{% block title %}{% endblock %} -- servermon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="search" type="application/opensearchdescription+xml" title="hwdoc Search" href="{% url "opensearch" %}">
  <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
  <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}jquery.metadata.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}jquery.tablesorter.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}hwdoc.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
  <style type="text/css">
  @media (min-width: 979px) {
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    td.centered {
      text-align: center;
    }
  }
  .scrollable-dropdown-menu {
      max-height: 500px;
      overflow-y: auto;
      overflow-x: hidden;
  }
  </style>
  {% block extrahead %}{% endblock %}

</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="{% url "projectwide.views.index" %}">{% trans "Overview" %}</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Updates" %} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "updates.views.hostlist" %}">{% trans "Host list" %}</a></li>
                <li><a href="{% url "updates.views.packagelist" %}">{% trans "Package list" %}</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Puppet" %} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "puppet.views.inventory" %}">{% trans "Inventory" %}</a></li>
                <li><a href="{% url "puppet.views.query" %}">{% trans "Fact Query" %}</a></li>
              </ul>
            </li>
	    {% if 'hwdoc' in  INSTALLED_APPS %}
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{% url "hwdoc.views.index" %}">{% trans "Hardware Inventory" %} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "hwdoc.views.index" %}">{% trans "Overview" %}</a></li>
		<li id="special_equipment" class="dropdown-submenu"><a href="#">{% trans "Interesting Equipment" %}</a>
                  <ul class="dropdown-menu">
		    <li><a href="{% url "hwdoc.views.unallocated_equipment" %}">{% trans "Unallocated Equipment" %}</a></li>
		    <li><a href="{% url "hwdoc.views.ticketed_equipment" %}">{% trans "Equipment with tickets" %}</a></li>
		    <li><a href="{% url "hwdoc.views.commented_equipment" %}">{% trans "Equipment with comments" %}</a></li>
		    <li><a href="{% url "hwdoc.views.unracked_equipment" %}">{% trans "Stored/Unracked Equipment" %}</a></li>
                  </ul>
                </li>
		<li id="datacenters" class="dropdown-submenu"><a href="#" class="hwdocfetchable" data-get="{% url "hwdoc.views.subnav" "datacenters" %}">{% trans "Datacenters" %}</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">{% trans "Loading" %}</a></li>
                  </ul>
                </li>
		<li id="projects" class="dropdown-submenu"><a href="#" class="hwdocfetchable" data-get="{% url "hwdoc.views.subnav" "projects" %}">{% trans "Projects" %}</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">{% trans "Loading" %}</a></li>
                  </ul>
                </li>
		<li id="racks" class="dropdown-submenu"><a href="#" class="hwdocfetchable" data-get="{% url "hwdoc.views.subnav" "racks"  %}">{% trans "Racks" %}</a>
                  <ul class="dropdown-menu scrollable-dropdown-menu">
                    <li><a href="#">{% trans "Loading" %}</a></li>
                  </ul>
                </li>
		<li id="rackrows" class="dropdown-submenu"><a href="#" class="hwdocfetchable" data-get="{% url "hwdoc.views.subnav" "rackrows" %}">{% trans "Rack Rows" %}</a>
                  <ul class="dropdown-menu scrollable-dropdown-menu">
                    <li><a href="#">{% trans "Loading" %}</a></li>
                  </ul>
                </li>
		<li id="models" class="dropdown-submenu"><a href="#" class="hwdocfetchable" data-get="{% url "hwdoc.views.subnav" "models" %}">{% trans "Hardware Models" %}</a>
                  <ul class="dropdown-menu scrollable-dropdown-menu">
                    <li><a href="#">{% trans "Loading" %}</a></li>
                  </ul>
                </li>
              </ul>
	      {% endif %}
            </li>
          </ul>
          <form class="ui-front navbar-form pull-right" method="get" action="{% url "projectwide.views.search" %}">
	    <input id="q" class="span2 search-query" data-provider="typeahead" autocomplete="off" data-get="{% url "projectwide.views.suggest" %}" name="q" type="text">
            <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
	    <a class="btn" href="{% url "projectwide.views.advancedsearch" %}">{% trans "Advanced Search" %}</a>
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12 text-center">
    <h1>{% block heading %}{% endblock %}</h1>
    <hr>
    {% block content %}
    {% endblock %}
    </div>
  </div>

  <div class="row-fluid">
    <div id="footer" class="span12 text-center">
      <a href="http://www.djangoproject.com/"><img src="{{ STATIC_URL }}django.gif"
        alt="{% trans "A Django site" %}" title="{% trans "A Django site" %}" border="0"></a>
    </div>
  </div>
</body>
</html>
