{% load i18n %}
{% load url from future %}
  <table class="table table-striped table-condensed sortable">
    <tbody>
    <tr>
      <th>{% trans "Host" %}</th>
      <th>{% trans "Fact Name" %}</th>
      <th>{% trans "Fact Value" %}</th>
    </tr>
    {% for result in results.puppet %}
    <tr>
      <td><a href="{% url "updates.views.host" result.host.name %}">{{ result.host }}</a></td>
      <td>{{ result.fact_name }}</a></td>
      <td>{{ result.value }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
