{% extends "base.html" %}

{% block title %}Host list{% endblock %}
{% block heading %}Host list{% endblock %}

{% block content %}
<table class="sortable">
  <thead>
    <tr>
      <th>Hostname</th>
      <th>Update count</th>
      <th>Last updated</th>
    </tr>
  </thead>
  <tbody>
  {% for host in hosts %}
    <tr>
      <td><a href="{% url updates.views.host host.name %}">{{ host.name }}</a></td>
      <td>
        {% if host.update_count %}
        {{ host.update_count }} update{{ host.update_count|pluralize }}
        {% if host.security_count %}
        {% with host.security_count|add:"0" as count %}
	<img src="{{ MEDIA_URL }}secure.png" alt="{{ count|add:"0" }} security update{{ count|pluralize }}"  title="{{ count|add:"0" }} security update{{ count|pluralize }}" />
        {% endwith %}
        {% endif %}
        {% else %}
        &mdash;
        {% endif %}
      </td>
      <td><em><small>{{ host.updated_at|timesince }}</small></em></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class="instructions">
Click on a hostname to see all pending package updates for that host.
</div>
{% endblock %}
