{% extends "updatesbase.html" %}
{% load i18n %}

{% block title %}{% trans "Updates for" %} {{ host.name }}{% endblock %}
{% block heading %}{{ host.name }}: {% trans "Host information" %}{% endblock %}
{% block content %}
<h2>{% trans "System information" %}</h2>

<div>
  <table>
    {% for attr in system|dictsort:"name" %}
    {% if attr.value %}
    <tr>
      <th>{{ attr.name }}</th>
      <td>{{ attr.value }}</td>
    </tr>
    {% endif %}
    {% endfor %}
    <tr>
      <th>{% trans "Last updated" %}</th>
      <td>{{ host.updated_at|timesince }}</td>
    </tr>
  </table>
</div>

<h2>{% trans "Network information" %}<div><a href="#" onclick="javascript:$('#netinfo').toggle();">Toggle</a></div></h2>
<table id="netinfo">
  <tr>
    <th>{% trans "Interface name" %}</th>
    <th>{% trans "IPv4 Address" %}</th>
    <th>{% trans "IPv6 Address" %}</th>
    <th>{% trans "MAC Address" %}</th>
  </tr>
{% for iface in interfaces %}
  <tr>
    <td>{{iface.iface}}</td>
    <td>{% if iface.ipaddr %}{{iface.ipaddr}}{% else %}&mdash;{% endif %}</td>
    <td>{% if iface.ipaddr6 %}{{iface.ipaddr6}}{% else %}&mdash;{% endif %}</td>
    <td>{% if iface.mac %}{{iface.mac}}{% else %}&mdash;{% endif %}</td>
  </tr>
{% endfor %}
</table>

<h2>{% trans "Available package updates" %}<div><a href="#" onclick="javascript:$('#updates').toggle();">Toggle</a></div></h2>

{% if updates %}
<table id="updates">
  <thead>
    <tr>
      <th>{% trans "Package name" %}</th>
      <th>{% trans "Installed Version" %}</th>
      <th>{% trans "Available Version" %}</th>
      <th>{% trans "Security Update" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for update in updates %}
  <tr class={% cycle 'even' 'odd' %}>
      <td><a href="{% url updates.views.package update.package.name %}">{{ update.package.name }}</a></td>
      <td>{% if update.installedVersion %}{{ update.installedVersion }}{% else %}&mdash;{% endif %}</td>
      <td>
      {% if update.get_changelog_url %}
        <a href="{{ update.get_changelog_url }}" target="_blank">{{ update.candidateVersion }}</a>
      {% else %}
        {{ update.candidateVersion }}
      {% endif %}
      </td>
      <td>
        {% if update.is_security %}
        <img src="{{ MEDIA_URL }}secure.png" alt="{% trans "Security update" %}" title="{% trans "Security update" %}" />
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div>
  <ul>
    <li>{% trans "Click on the available version number to view the package's changelog for that version" %}</li>
    <li>{% trans "Click on a package name to see all hosts with pending updates on that package" %}</li>
  </ul>
</div>

{% else %}
<div align="center">
  <strong>
    {% blocktrans with host.name as hostname %} No updated versions found for packages on {{ hostname }} {% endblocktrans %}
  </strong>
</div>
{% endif %}

{% endblock %}
