{% extends "updatesbase.html" %}
{% load i18n %}

{% block title %}{% trans "Host list" %}{% endblock %}
{% block heading %}{% trans "Host list" %}{% endblock %}

{% block content %}
<table>
  <thead>
    <tr>
      <th>{% trans "Hostname" %}</th>
      <th>{% trans "Update count" %}</th>
      <th>{% trans "Last updated" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for host in hosts %}
    <tr>
      <td><a href="{% url updates.views.host host.name %}">{{ host.name }}</a></td>
      <td>
        {% if host.update_count %}
        {{ host.update_count }} update{{ host.update_count|pluralize }}
        {% if host.security_count %}
        {% with host.security_count|add:"0" as count %}
        <img src="{{ MEDIA_URL }}secure.png" alt="{{ count|add:"0" }} security update{{ count|pluralize }}"  title="{{ count|add:"0" }} security update{{ count|pluralize }}" />
        {% endwith %}
        {% endif %}
        {% else %}
        &mdash;
        {% endif %}
      </td>
      <td><em><small>{{ host.updated_at|timesince }}</small></em></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div>
{% blocktrans %}
Click on a hostname to see all pending package updates for that host.
{% endblocktrans %}
</div>
{% endblock %}
