{% extends "base.html" %}

{% block title %}Package list{% endblock %}
{% block heading %}Package list{% endblock %}

{% block content %}
<table class="sortable">
  <thead>
    <tr>
      <th>Package name</th>
      <th class="{sorter: 'numeric'}">Hosts pending an update</th>
    </tr>
  </thead>
  <tbody>
  {% for package in packages %}
  <tr>
    <td><a href="{{ package.name }}">{{ package.name }}</a></td>
    <td>
	    {{ package.host_count }} hosts
	    {% if package.security_count %}
	    {% with package.security_count|add:"0" as count %}
	    <img src="{{ MEDIA_URL }}secure.png" alt="{{ count }} security update{{ count|pluralize }}"  title="{{ count }} security update{{ count|pluralize }}" />
	    {% endwith %}
	    {% endif %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<div class="instructions">
Click on a package name to see the list of all hosts with a pending update on that package.
</div>

{% endblock %}
