body {
	font-family: sans;
}

h1 {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}

h2 {
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0.5em;
}

h3 {
	text-align: center;
	font-size: 1em;
}

table {
	text-align: center;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}

th {
	background: #405871;
	color: white;
	font-weight: bold;
	padding-right: 1em;
	padding-left: 1em;
}

a {
	color: #405871;
	text-decoration: none;
	font-weight: bold;
}

td {
	text-align: center;
}

p {
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#footer {
	margin-top: 3em;
	padding-right: 2em;
	text-align: right;
	text-size: small;
}

#nav {
	margin-bottom: 1em;
	font-size: 0.7em;
	text-align: right;
}

.hostinfo th {
	padding-right: 0.5em;
	padding-left: 0.5em;
	text-align: right;
	width: 14em;
}

.hostinfo td {
	padding-left: 0.5em;
	padding-right: 1em;
	/*font-weight: bold; */
	text-align: left;
}

.mono {
	font-family: monospace;
}

.changelog {
	font-style: italic;
}

.instructions {
	font-size: small;
	font-style: italic;
	color: gray;
	width: 50em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#search {
	text-align: right;
}

#results {
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
}

.control {
	text-align: center;
	font-size: 0.8em;
	display: inline;
	position: absolute;
	margin-left: 1em;
}

.control a {
	font-weight: normal;
	text-decoration: underline;
}

.error {
	font-weight: bold;
	color: red;
}

.indexpagediv {
	text-align: center;
}
