{% extends "puppetbase.html" %}
{% load i18n %}

{% block title %}{% trans "Puppet Inventory" %}{% endblock %}
{% block heading %}{% trans "Puppet Inventory" %}{% endblock %}
{% block content %}
<script type="text/javascript" src="{{ MEDIA_URL }}jquery.tablefilter.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $table = $("#inventory").tablesorter({widthFixed: true, widgets: ['zebra']});
  FilterText = "";
  ColumnArray = ["Vendor", "Model", "Arch", "BIOS Date", "BIOS Version" ];
  for (i=0;i<ColumnArray.length;i++) {
    var th = $("#inventory thead tr").find("th:contains(" + ColumnArray[i] + ")");
    var ind = $("#inventory thead tr th").index(th);
    $("#inventory tbody tr").find("td:eq(" + ind + ")").click( function() {
      clickedText = $(this).text();
      FilterText = ((FilterText == clickedText) ? "" : clickedText );
      $.uiTableFilter( $table, FilterText, ColumnArray[i]);
    });
  }
});
</script>

<div>
{% blocktrans %}
Click on a cell to filter by its value; click on a column header to sort; shift+click to sort using multiple columns
{% endblocktrans %}
</div>

<table id="inventory">
  <thead>
    <tr>
      <th>{% trans "Hostname" %}</th>
      <th>{% trans "Vendor" %}</th>
      <th>{% trans "Model" %}</th>
      <th>{% trans "CPUs" %}</th>
      <th>{% trans "Memory" %}</th>
      <th>{% trans "Arch" %}</th>
      <th>{% trans "BIOS Date" %}</th>
      <th>{% trans "BIOS Version" %}</th>
      <th>{% trans "Serial" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for host in hosts %}
    <tr>
      <td><a href="{% url updates.views.host host.name %}">{{ host.name }}</a></td>
      <td class="filter">{{ host.manufacturer }}</td>
      <td class="filter">{{ host.productname }}</td>
      <td class="filter">{{ host.processorcount }}</td>
      <td class="filter">{{ host.memorysize }}</td>
      <td class="filter">{{ host.architecture }}</td>
      <td class="filter"><span class="mono">{{ host.bios_date }}</span></td>
      <td class="filter"><span class="mono">{{ host.bios_version }}</span></td>
      <td><span class="">{{ host.serialnumber }}</span></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
