{% extends "base.html" %}
{% load i18n %}
{% load adminmedia %}

{% block title %}{% trans "Custom fact query" %}{% endblock %}
{% block heading %}{% trans "Custom fact query" %}{% endblock %}

{% block content %}
  <p>
    {% blocktrans %}
    Select one or more hosts and the facts you want a report on
    {% endblocktrans %}
  </p>
  <script type="text/javascript" src="{{ MEDIA_URL }}jsi18n.js"></script>
  <script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
  <script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
  <script type="text/javascript" src="{% admin_media_prefix %}js/SelectBox.js"></script>
  <script type="text/javascript" src="{% admin_media_prefix %}js/SelectFilter2.js"></script>
  <form id="factquery" method="post">
  <div>
    <h2>{% trans "Select hosts" %}</h2>
    {{ form.hosts.errors }}
    {{ form.hosts }}
  </div>
  <div>
    <h2>{% trans "Select facts" %}</h2>
    {{ form.facts.errors }}
    {{ form.facts }}
  </div>
  <p>
    <input align="center" type="submit" value="{% trans "Generate report" %}" />
  </p>
  </form>
{% endblock %}
