{% load i18n %}
<!DOCTYPE html>

<html>
<head>
  <title>{% block title %}{% endblock %} -- servermon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="search" type="application/opensearchdescription+xml" title="hwdoc Search" href="{% url opensearch %}">
  <link href="{{ MEDIA_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="{{ MEDIA_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
  <script type="text/javascript" src="{{ MEDIA_URL }}jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}jquery.metadata.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}jquery.tablesorter.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}hwdoc.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}bootstrap/js/bootstrap.min.js"></script>
  <style type="text/css">
  @media (min-width: 979px) {
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  }
  </style>

</head>

<body>
  <script type='text/javascript'>
  $(document).ready(function() {
    $('input#q').typeahead({
      minLength: 2,
      source: function(query, process) {
        $.get('{% url projectwide.views.suggest %}', { q: query, limit: 8 }, function(data) {
        process(data[1]);
      });
      },
      updater: function(item) {
      	this.$element.context.parentNode.submit();
        return item;
      },
      sorter: function(items) {
        items.unshift(this.query);
	return items;
      }
    });
  $('.sortable').tablesorter();
  {% if 'servermon.hwdoc' in  INSTALLED_APPS %}
  $('.hwdocfetchable').hover( function() { fetch_and_update(this, '{% url hwdoc.views.subnav %}') }, function () {});
  {% endif %}
  });
  </script>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="{% url projectwide.views.index %}">{% trans "Overview" %}</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Updates" %} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url updates.views.hostlist %}">{% trans "Host list" %}</a></li>
                <li><a href="{% url updates.views.packagelist %}">{% trans "Package list" %}</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Puppet" %} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url puppet.views.inventory %}">{% trans "Inventory" %}</a></li>
                <li><a href="{% url puppet.views.query %}">{% trans "Fact Query" %}</a></li>
              </ul>
            </li>
	    {% if 'servermon.hwdoc' in  INSTALLED_APPS %}
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{% url hwdoc.views.index %}">{% trans "Hardware Inventory" %} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url hwdoc.views.index %}">{% trans "Overview" %}</a></li>
		<li id="datacenters" class="dropdown-submenu hwdocfetchable"><a href="{% url hwdoc.views.datacenter 1 %}">{% trans "Datacenters" %}</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">{% trans "Loading" %}</a></li>
                  </ul>
                </li>
		<li id="projects" class="dropdown-submenu hwdocfetchable"><a href="{% url hwdoc.views.project 1 %}">{% trans "Projects" %}</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">{% trans "Loading" %}</a></li>
                  </ul>
                </li>
		<li id="racks" class="dropdown-submenu hwdocfetchable"><a href="{% url hwdoc.views.rack 1 %}">{% trans "Racks" %}</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">{% trans "Loading" %}</a></li>
                  </ul>
                </li>
		<li id="rackrows" class="dropdown-submenu hwdocfetchable"><a href="{% url hwdoc.views.rackrow 1 %}">{% trans "Rack Rows" %}</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">{% trans "Loading" %}</a></li>
                  </ul>
                </li>
              </ul>
	      {% endif %}
            </li>
          </ul>
          <form class="ui-front navbar-form pull-right" method="get" action="{% url projectwide.views.search %}">
            <input id="q" class="span2 search-query" data-provider="typeahead" autocomplete="off" name="q" type="text">
            <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
	    <a class="btn" href="{% url projectwide.views.advancedsearch %}">{% trans "Advanced Search" %}</a>
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12 text-center">
    <h1>{% block heading %}{% endblock %}</h1>
    <hr>
    {% block content %}
    {% endblock %}
    </div>
  </div>

  <div class="row-fluid">
    <div id="footer" class="span12 text-center">
      <a href="http://www.djangoproject.com/"><img src="{{ MEDIA_URL }}django.gif"
        alt="{% trans "A Django site" %}" title="{% trans "A Django site" %}" border="0"></a>
    </div>
  </div>
</body>
</html>
