{% load i18n %}
<!DOCTYPE html>

<html>
<head>
  <title>{% block title %}{% endblock %} -- servermon</title>
  <link rel="search" type="application/opensearchdescription+xml" title="hwdoc Search" href="{% url opensearch %}">
  <script type="text/javascript" src="{{ MEDIA_URL }}jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}jquery.tablesorter.min.js"></script>
</head>

<body>
  </script><script type="text/javascript">
$(document).ready(function() {
  $(".sortable").tablesorter({ widgets: ['zebra'] });
  });
  </script>

  <div id="nav">
    <a href="{% url projectwide.views.index %}">{% trans "Overview" %}</a>
    | <a href="{% url updates.views.hostlist %}">{% trans "Updates" %}</a> 
    | <a href="{% url puppet.views.inventory %}">{% trans "Puppet" %}</a> 
    | <a href="{% url hwdoc.views.index %}">{% trans "Hardware Inventory" %}</a> 
  </div>
  {% block subnav %}
  {% endblock %}

  <div id="search">
    <form method="get" action="{% url projectwide.views.search %}">
      <input type="text" name="q"><input type="submit" value="{% trans "Search" %}">
    </form>
  </div>

  <h1>{% block heading %}{% endblock %}</h1>
  {% block content %}
  {% endblock %}

  <div id="footer">
    <a href="http://www.djangoproject.com/"><img src="{{ MEDIA_URL }}django.gif"
      alt="{% trans "A Django site" %}" title="{% trans "A Django site" %}" border="0"></a>
  </div>
</body>
</html>
