<html>
<head>
<title>{% block title %}{% endblock %} -- updates</title>
<link type="text/css" rel="stylesheet" href="/static/updates.css" />
</head>

<body>
<div id="nav">
<a href="{% url views.index %}">Dashboard</a> | <a href="{% url updates.views.hostlist %}">Host list</a> | <a href="{% url updates.views.packagelist %}">Package list</a> | <a href="{% url views.inventory %}">Hardware Inventory</a>
</div>
<div id="search">
<form method="POST" action="/search">
<input type="text" name="search" /><input type="submit" value="Search" />
</form> 
</div>
<h1>{% block heading %}{% endblock %}</h1>
{% block content %}
{% endblock %}

<div id="footer">
<a href="http://www.djangoproject.com/"><img src="/static/django.gif" alt="A Django site" title="A Django site" border=0 /></a>
</div>
</body>
</html>
