{% extends "base.html" %}

{% block title %}Updates for {{ host.name }}{% endblock %}
{% block heading %}{{ host.name }}: Host information{% endblock %}
{% block content %}
<h2>System information</h2>
<div class="hostinfo">
<table>
{% for attr in system|dictsort:"name" %}
{% if attr.value %}<tr><th>{{ attr.name }}</th><td>{{ attr.value }}</td></tr>{% endif %}
{% endfor %}
<tr><th>Last updated</th><td>{{ host.updated_at|date }}</td></tr>
</table>
</div>

<h2>Network information<div class="control"><a href="#" onclick="javascript:$('#netinfo').toggle();">Toggle</a></div></h2>
<table id="netinfo">
<tr><th>Interface name</th><th>IPv4 Address</th><th>IPv6 Address</th><th>MAC Address</th></tr>
{% for iface in interfaces %}
<tr><td>{{iface.iface}}</td><td class="mono">{% if iface.ipaddr %}{{iface.ipaddr}}{% else %}&mdash;{% endif %}</td><td class="mono">{% if iface.ipaddr6 %}{{iface.ipaddr6}}{% else %}&mdash;{% endif %}</td><td class="mono">{% if iface.mac %}{{iface.mac}}{% else %}&mdash;{% endif %}</td></tr>
{% endfor %}
</table>

<h2>Available package updates</h2>
{% if updates %}
<table>
<tr><th>Package name</th>	<th>Installed Version</th>	<th>Available Version</th></tr>
{% for update in updates %}
<tr><td><a href="/packages/{{ update.package.name }}">{{ update.package.name }}</a></td><td>{{ update.installedVersion }}</td>	<td class="changelog"><a href="{{ update.get_changelog_url }}" target="_blank">{{ update.candidateVersion }}</a></td></tr>
{% endfor %}
</table>
<div class="instructions">
<ul>
<li>Click on the available version number to view the package's changelog for that version</li>
<li>Click on a package name to see all hosts with pending updates on that package</li>
</ul>
</div>
{% else %}
<div align="center">
<strong>No updated versions found for packages on {{ host.name }}</strong>
</div>
{% endif %}
{% endblock %}
