{% extends "base.html" %}

{% block title %}Hosts for package {{ package.name }}{% endblock %}
{% block heading %}Hosts with pending updates for {{ package.name }}{% endblock %}

{% block content %}
<table class="sortable">
  <thead>
    <tr>
      <th>Hostname</th>
      <th>Installed Version</th>
      <th>Available Version</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  {% for update in updates %}
    <tr>
      <td><a href="{% url views.host update.host.name %}">{{ update.host.name }}</a></td>
      <td>{{ update.installedVersion }}</td>
      <td class="changelog">
      {% if update.get_changelog_url %}
        <a href="{{ update.get_changelog_url }}" target="_blank">{{ update.candidateVersion }}</a>
      {% else %}
        {{ update.candidateVersion }}
      {% endif %}
      </td>
      <td>
        {% if update.is_security %}
        <img src="{{ MEDIA_URL }}secure.png" alt="Security update" title="Security update" />
        {% endif %}
      </td>
    </tr>
  </tbody>
{% endfor %}
</table>

<div class="instructions">
<ul>
<li>Click on the available version number to view the package's changelog for that version</li>
<li>Click on a hostname to see all pending package updates for that host</li>
</ul>
</div>

{% endblock %}
