{% extends "base.html" %}

{% block title %}Package list{% endblock %}
{% block heading %}Package list{% endblock %}

{% block content %}
<table>
  <tr>
    <th>Package name</th>
    <th>Hosts pending an update</th>
  </tr>
  {% for package in packages %}
  <tr>
    <td><a href="{{ package.name }}">{{ package.name }}</a></td>
    <td>{{ package.host_count }} hosts</td>
  </tr>
{% endfor %}
</table>

<div class="instructions">
Click on a package name to see the list of all hosts with a pending update on that package.
</div>

{% endblock %}
