{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Hosts for package" %} {{ package.name }}{% endblock %}
{% block heading %}{% trans "Hosts with pending updates for" %} {{ package.name }}{% endblock %}

{% block content %}
<div class="row-fluid text-center">
  <div class="span8 offset2">
    <table class="table table-striped table-condensed sortable">
      <thead>
        <tr>
          <th>{% trans "Hostname" %}</th>
          <th>{% trans "Installed Version" %}</th>
          <th>{% trans "Available Version" %}</th>
          <th>{% trans "Security" %}</th>
        </tr>
      </thead>
      <tbody>
      {% for update in updates %}
        <tr>
          <td><a href="{% url "updates.views.host" update.host.name %}">{{ update.host.name }}</a></td>
	  <td>{% if update.installedVersion %}{{ update.installedVersion }}{% else %}<span class="dist-upgrade" title="Package is listed because a dist-upgrade would install it">&mdash;</span>{% endif %}</td>
          <td>
          {% if update.get_changelog_url %}
            <a href="{{ update.get_changelog_url }}" target="_blank">{{ update.candidateVersion }}</a>
          {% else %}
            {{ update.candidateVersion }}
          {% endif %}
          </td>
          <td>
            {% if update.is_security %}
            <img src="{{ STATIC_URL }}secure.png" alt="{% trans "Security update" %}" title="{% trans "Security update" %}" />
            {% endif %}
          </td>
        </tr>
      </tbody>
    {% endfor %}
    </table>
  </div>
  <div class="span2"></div>
</div>

{% endblock %}
